html {
	margin: 0; padding: 0;
	background: #fff;
}

body {
	margin: 0; padding: 0;
	background: #74bcb4;
	color: #000a;
}

body.Android { background: #74bc82; }
body.Shell { background: #ac8bc8; }
body.Tools { background: #7d92d5; }
body.Libs { background: #74bcb4; }
body.Games { background: #c186ba; }
body.Web { background: #cdc389; }
body.History { background: #bbb; }

#Nav {
	margin: 0; padding: 0 1.8em;
	background: #fff;
	font: 90% sans-serif; color: #333;
	text-transform: uppercase;
	line-height: 130%;
}

#Nav ul {
	margin: 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

#Nav li {
	margin: 0; padding: 0;
}

#Nav a {
	float: left;
	margin: 0 1em 0 0; padding: 2em 1em;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
}

#Nav li.Active a {
	background: #333; color: #fff;
}

#Article {
	margin: 0; padding: 2em;
	font: 120% sans-serif;
	line-height: 150%;
	clear: both;
}

#Article h1 {
	display: none;
}

#Article h2 {
	margin: 0 0 2em; padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 130%;
}

#Article > article > h3 {
	margin: 0 0 1em; padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 100%;
}

#Article a {
	color: #000a;
	text-decoration: none;
	border-bottom: .1em solid #000a;
}

#Article ul {
	margin: 0; padding: 0;
	list-style: none;
}

#Article > article > ul {
	margin: 0 0 3em;
	clear: both;
}

#Article > article > ul > li {
	margin: 0 0 1em; padding: 0 0 1em;
	border-bottom: 1px solid #0002;
}

#Article > article > ul > li:last-child {
	border-bottom: 0;
}

#Article li > h3,
#Article li > p {
	margin: 0; padding: 0;
	text-transform: none;
}

#Article li > h3 {
	margin: 0 0 .25em;
	color: #fffe;
}

#Article li > p {
	max-width: 33em;
}

#Article li ul {
	margin: .75em 0 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

#Article li ul li a {
	float: left;
	margin: 0 .75em .75em 0; padding: .75em 1em;
	background: #fff; color: #333;
	font: 60% sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	border-bottom: .1em solid #000a;
	border-radius: .25em;
	transition: opacity 0.25s linear;
}

#Footer {
	margin: 0; padding: 2em 2.8em 2em;
	background: #fff;
	font: 80% sans-serif; color: #333;
	text-align: right;
}

#Footer h2 {
	margin: 0 0 6em; padding: 0;
	font-size: 110%;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .5em;
}

#Footer p {
	margin: 0; padding: 0;
	line-height: 150%;
}

#Footer a {
	text-decoration: none;
	color: #333;
}
