html {
	margin: 0; padding: 0;
	background: #fff;
}

body {
	margin: 0; padding: 0;
	color: #111; /* fallback */
	color: #0009;
}

#Article.Hello { background: #f8f8f8; }
#Article.Android { background: #96cca0; }
#Article.Shell { background: #c7b1e0; }
#Article.Tools { background: #a5b7f1; }
#Article.Libs { background: #8ecdc6; }
#Article.Games { background: #ddb4db; }
#Article.Web { background: #e8dba6; }
#Article.History { background: #ddd; }

#Nav {
	margin: 2em 1em 3em; padding: 0;
	font: 110% sans-serif; color: #111;
	text-transform: uppercase;
	text-align: center;
	line-height: 130%;
}

#Nav ul {
	margin: 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

#Nav li {
	display: inline-block;
	margin: 0; padding: 0;
}

#Nav a {
	display: inline-block;
	margin: .5em; padding: 1.25em 1em;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
}

#Nav li.Active a {
	background: #333; color: #fff;
	border-radius: .2em;
}

#Article {
	margin: 0 auto; padding: 2em;
	max-width: 40em;
	font: 120% sans-serif;
	line-height: 150%;
	border-radius: .25em;
}

#Article h1 {
	display: none;
}

#Article h2 {
	margin: 0 0 2em; padding: 0 0 .25em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100%;
	letter-spacing: .2em;
	border-bottom: .2em solid #111; /* fallback */
	border-bottom: .2em solid #0009;
}

#Article > article > h3 {
	margin: 0; padding: 0;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 80%;
}

#Article > article > p {
	margin: 0 0 2em; padding: 0;
}

#Article a {
	color: #111; /* fallback */
	color: #000a;
	text-decoration: none;
	border-bottom: .1em solid #111; /* fallback */
	border-bottom: .1em solid #000a;
}

#Article ul {
	margin: 0; padding: 0;
	list-style: none;
}

#Article > article > ul {
	margin: 0 0 3em;
	clear: both;
}

#Article > article > ul > li {
	margin: 0 0 2em; padding: 0 0 .5em;
	border-bottom: 1px solid #111; /* fallback */
	border-bottom: 1px solid #0002;
}

#Article > article > ul > li:last-child {
	border-bottom: 0;
}

#Article li > h3,
#Article li > p {
	margin: 0; padding: 0;
	text-transform: none;
}

#Article li > h3 {
	margin: 0 0 .25em;
	font-family: monospace;
	font-size: 150%;
}

#Article .Stats {
	margin: .5em 0 0;
	font-size: 80%;
	line-height: 150%;
}

#Article .Stats span {
	white-space: nowrap;
}

#Article li ul {
	margin: .75em 0 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

#Article li ul li a {
	float: left;
	margin: 0 .75em .75em 0; padding: .75em 1em;
	background: #fff; color: #333;
	font: 60% sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	border-color: #111; /* fallback */
	border-bottom: .1em solid #000a;
	border-radius: .25em;
}

#Footer {
	margin: 0; padding: 7em 1em 3em;
	font: 80% sans-serif; color: #333;
	overflow: hidden;
	text-align: center;
}

#Footer h2 {
	display: inline-block;
	margin: 0 0 .75em; padding: 80px 180px 0 0;
	background: bottom right url(logo.svg) no-repeat;
	width: 0; height: 0;
	overflow: hidden;
}

#Footer p {
	margin: 0; padding: 0;
	line-height: 150%;
}

#Footer span {
	white-space: nowrap;
}

#Footer a {
	text-decoration: none;
	color: #333;
	border-bottom: .1em solid #333;
}

@media screen and (max-width: 640px) {
	#Nav {
		font-size: 95%;
	}

	#Article {
		padding: 1.25em 1em;
		border-radius: 0;
	}
}
