@keyframes bg {
	0% { background: #a4efa7; }
	50% { background: #62f2cb; }
	100% { background: #a4efa7; }
}

html {
	margin: 0; padding: 0;
	background: #fff;
}

body {
	margin: 0; padding: 0;
	color: #111; /* fallback */
	color: #0009;
}

#Nav {
	margin: 2em auto 3em; padding: 0 1em;
	max-width: 40em;
	font: 120% sans-serif;
	text-transform: uppercase;
	text-align: center;
	line-height: 130%;
}

#Nav ul {
	margin: 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

#Nav li {
	display: inline-block;
	margin: 0; padding: 0;
}

#Nav a {
	display: inline-block;
	margin: .5em; padding: 1.25em 1em;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
	border-left: .2em solid transparent;
	border-right: .2em solid transparent;
	border-radius: .5em;
}

#Nav a:active {
	background: #f8f8f8;
}

#Nav li.Active a {
	font-weight: bolder;
	border-left: .2em solid #333;
	border-right: .2em solid #333;
}

article {
	position: relative;
	margin: 0 auto; padding: 2em;
	max-width: 40em;
	font: 120% sans-serif;
	line-height: 150%;
}

#Article {
	background: #90efc1;
	animation: bg 9s linear infinite;
}

#Article h1 {
	display: none;
}

#Article h2:before {
	display: inline-block;
	content: '';
	font-size: 70%;
	margin: 0 .75em 0 0;
	width: 0; height: 0;
	border-top: .5em solid transparent;
	border-bottom: .5em solid transparent;
	border-right: .5em solid #111;
}

#Article h2 {
	display: inline-block;
	position: absolute;
	right: 99%;
	margin: 0; padding: 0 .5em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 60%;
	white-space: nowrap;
	letter-spacing: .1em;
	transform-origin: top right;
	transform: rotate(-90deg);
}

#Article h3 {
	margin: 0; padding: 0;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 80%;
}

#Article p {
	margin: 0 0 2em; padding: 0;
}

#Article a {
	color: #111; /* fallback */
	color: #000a;
	text-decoration: none;
	border-bottom: .1em solid #111; /* fallback */
	border-color: #000a;
}

#Article ul {
	margin: 0 0 3em; padding: 0;
	list-style: none;
	border-bottom: 2px dashed #111; /* fallback */
	border-color: #0009;
}

#Article ul:last-child {
	border: 0;
}

#Article ul > li {
	margin: 0 0 2em; padding: 0 0 .5em;
	border-bottom: 1px dashed #111; /* fallback */
	border-color: #0009;
}

#Article ul > li:last-child {
	border-bottom: 0;
	padding: 0;
}

#Article li > h3,
#Article li > p {
	margin: 0; padding: 0;
	text-transform: none;
}

#Article li > h3 {
	margin: 0 0 .25em;
	font-family: monospace;
	font-size: 150%;
}

#Article .Stats {
	margin: .5em 0 0;
	font-size: 80%;
	line-height: 150%;
}

#Article .Stats span {
	white-space: nowrap;
}

#Article li ul {
	margin: .75em 0 0; padding: 0;
	list-style: none;
	overflow: hidden;
	border: 0;
}

#Article li ul li {
	margin: 0; padding: 0;
	border: 0;
}

#Article li ul li a {
	float: left;
	margin: 0 .75em .75em 0; padding: .75em 1em;
	background: #fff; color: #333;
	font: 60% sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	border-color: #111; /* fallback */
	border-bottom: .1em solid #000a;
	border-radius: .25em;
}

#Footer {
	margin: 0; padding: 7em 1em 3em;
	font-family: sans-serif; color: #333;
	overflow: hidden;
	text-align: center;
}

#Footer h2 {
	margin: 0 0 .5em; padding: 108px 0 0 .28em;
	background: top center url(logo.svg) no-repeat;
	overflow: hidden;
	height: 0;
}

#Footer p {
	margin: 0; padding: 0;
	line-height: 150%;
}

#Footer span {
	white-space: nowrap;
}

#Footer a {
	text-decoration: none;
	color: #333;
}

@media screen and (max-width: 640px) {
	#Nav, #Footer {
		font-size: 95%;
	}

	article {
		padding: 1.25em 1.5em;
		border-radius: 0;
	}

	#Article h2 {
		right: 100%;
	}
}
