html, body {
	background: #f4f4f4; color: #333;
}

body {
	margin: 0; padding: 0;
	font: 110% sans-serif;
}

h1, h2, h3, p, ul {
	margin: 0 0 1rem;
}

h1 {
	font-size: 400%;
	font-weight: lighter;
	margin-bottom: 2rem;
}

a {
	color: #111;
}

nav, #Main {
	padding: 2em;
}

nav {
	position: fixed; top: 0;
	width: 8em;
}

.NavList:before {
	position: absolute; left: 0; top: 0;
	content: '';
	background: 0 0 url(logo.svg) no-repeat;
	width: 72px; height: 80px;
}

.NavList {
	position: relative;
	margin: 0; padding: 140px 0 0;
	list-style: none;
}

.NavList .NavList {
	padding: 0 0 0 1.5em;
	margin-bottom: 1em;
}

.NavList .NavList:before {
	display: none;
}

.NavListItem {
	margin: 0; padding: 0;
}

.NavLink {
	display: block;
	padding: .8em 0;
}

.NavLink, .ProjectLinks a {
	font-weight: normal;
	font-size: 80%;
	text-decoration: none;
}

.NavListItem .NavListItem .NavLink {
	padding: .5em 0;
}

a.Active {
	font-weight: bold;
}

#Main {
	margin-left: 12em;
	max-width: 40em;
}

#Main h2 {
	clear: both;
}

#Main p a {
	text-decoration: underline;
	text-underline-offset: .05em;
}

#Main p, #Main li {
	line-height: 1.5;
}

.ScreenshotLink img, .IconLink img {
	margin: 0 0 1em 1em;
	float: right;
	width: 6em;
}

.ScreenshotLink img {
	border-radius: 6em;
}

.Stats {
	font-size: 70%;
	text-transform: uppercase;
	color: #888;
}

.ProjectLinks {
	padding: 0;
	list-style: none;
}

.ProjectLinks li {
	display: inline;
}

.ProjectLinks a {
	display: inline-block;
	margin: 0 .2em .5em 0; padding: .3em .5em;
	border: 1px solid #111;
	border-radius: .25em;
}

.ProjectLinks a:hover {
	background: #111; color: #fff;
}

.Separator {
	margin-bottom: 4rem;
}

.TL {
	position: relative;
	margin: 0; padding: 0;
	list-style: none;
}

.TL:after {
	content: ' ';
	position: absolute; left: 50%; top: 0;
	width: 1px; height: 100%;
	background: #111;
}

.TL li {
	position: relative;
	margin: 0 50% 0 0; padding: .5em 1em .5em 0;
	text-align: right;
}

.TL li:after {
	content: ' ';
	position: absolute; right: 0; top: 1.25em;
	width: .8em; height: 1px;
	background: #111;
}

.TL li:nth-child(even) {
	margin: 0 0 0 50%; padding: .5em 0 .5em 1em;
	text-align: left;
}

.TL li:nth-child(even):after {
	left: 0;
}

.TL time {
	display: block;
	font-size: 70%;
	text-transform: uppercase;
	color: #888;
}

@media screen and (max-height: 480px) {
	nav {
		position: absolute;
	}
}

@media screen and (max-width: 640px) {
	nav, #Main {
		padding: 1em;
		max-width: none;
	}

	nav {
		position: static;
		width: auto;
		text-align: left;
		padding-top: .75em; margin-bottom: 2rem;
	}

	.NavList:before {
		left: auto; right: 0; top: .5em;
	}

	.NavList {
		padding: 0 100px 0 0;
	}

	h1 {
		font-size: 250%;
	}

	#Main {
		margin-left: 0;
	}

	.ProjectLinks {
		margin-bottom: 5rem;
	}

	.ScreenshotLink img, .IconLink img {
		margin: 0 0 .5em .5em;
		width: 4em;
	}
}

@media (prefers-color-scheme: dark) {
	html, body {
		background: #111; color: #ddd;
	}

	.NavList:before {
		filter: invert(100%);
	}

	a {
		color: #ddd;
	}

	a.Active {
		color: #fff;
	}

	.ProjectLinks a,
	.TL li {
		border-color: #ddd;
	}

	.ProjectLinks a:hover,
	.TL:after,
	.TL li:after {
		background: #ddd; color: #111;
	}
}
