html {
	margin: 0; padding: 0;
	background: #fff;
}

body {
	margin: 0; padding: 0;
	background: #78b099;
	color: #33443c;
}

#Nav {
	margin: 0; padding: 0 1.8em;
	background: #fff;
	font: 90% sans-serif; color: #333;
	text-transform: uppercase;
	line-height: 130%;
}

#Nav ul {
	margin: 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

#Nav li {
	margin: 0; padding: 0;
}

#Nav a {
	float: left;
	margin: 0 1em 0 0; padding: 2em 1em;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
}

#Nav li.Active a {
	background: #333; color: #fff;
}

#Article {
	margin: 0; padding: 2em;
	font: 120% sans-serif;
	line-height: 150%;
	clear: both;
}

#Article h1 {
	display: none;
}

#Article h2 {
	margin: 0 0 2em; padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 130%;
	letter-spacing: .25em;
}

#Article > article > h3 {
	margin: 0 0 1em; padding: 0;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 80%;
	letter-spacing: .1em;
}

#Article a {
	color: #33443c;
	text-decoration: none;
	border-bottom: .1em solid #33443c;
}

#Article ul {
	margin: 0; padding: 0;
	list-style: none;
}

#Article > article > ul {
	margin: 0 0 3em;
	clear: both;
}

#Article > article > ul > li {
	margin: 0 0 1em; padding: 0 0 1em;
	border-bottom: 1px solid #68a089;
}

#Article > article > ul > li:last-child {
	border-bottom: 0;
}

#Article li > h3,
#Article li > p {
	margin: 0; padding: 0;
	text-transform: none;
}

#Article li > h3 {
	margin: 0 0 .25em;
	color: #fff;
}

#Article li ul {
	margin: .5em 0 0; padding: 0;
	list-style: none;
	overflow: hidden;
}

#Article li ul li a {
	float: left;
	margin: 0 .75em 0 0; padding: .75em 1em;
	background: #fff; color: #333;
	font: 60% sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	border-bottom: .1em solid #33443c;
	border-radius: .25em;
	transition: opacity 0.25s linear;
}

#Footer {
	margin: 0; padding: 2em 2.8em 12em;
	background: #fff;
	font: 90% sans-serif; color: #333;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: .5em;
}
