/**
 * Static contents
 */
div.Static
{
	position: relative;
	margin: auto;
	max-width: 676px;
}

div.Static #Contents
{
	padding: 0 76px 0 0;
}

div.Static div.Chapter
{
	min-height: 420px;
	padding: 8px;
	background-color: #ffffff;
	opacity: 0.85;
	filter: alpha( opacity=85 );
	-moz-border-radius: 4px 0 4px 4px;
	-webkit-border-radius: 4px 0 4px 4px;
	border-radius: 4px 0 4px 4px;
}

/**
 * Dynamic contents
 */
div.Dynamic #Index
{
	display: none;
}

div.Dynamic #Contents
{
	margin: auto;
	padding: 0;
	max-width: 600px;
}

div.Dynamic div.Chapter
{
	margin: 0;
	padding: 0;
}

/**
 * Contents styles
 */
#Contents a
{
	color: #7ba212;
	text-decoration: none;
}

#Contents a:hover
{
	color: #a8cd43;
}

#Contents a.Download
{
	background: right center url( images/link-download.png ) no-repeat;
	padding-right: 13px;
}

#Contents a.External,
	#Contents a.Documentation
{
	background: right center url( images/link-external.png ) no-repeat;
	padding-right: 16px;
}

#Contents a.Demo
{
	background: right center url( images/link-demo.png ) no-repeat;
	padding-right: 11px;
}

#Contents div.TopLeft
{
	padding: 0 0 0 6px;
	background: top left url( images/frame-top-left.png ) no-repeat;
	height: 7px;
}

#Contents div.TopRight
{
	padding: 0 6px 0 0;
	background: top right url( images/frame-top-right.png ) no-repeat;
	height: 7px;
}

#Contents div.Left
{
	padding: 0 0 0 6px;
	background: top left url( images/frame-left.png ) repeat-y;
}

#Contents div.Right
{
	padding: 0 6px 0 0;
	background: top right url( images/frame-right.png ) repeat-y;
}

#Contents div.BottomLeft
{
	padding: 0 0 0 6px;
	background: top left url( images/frame-bottom-left.png ) no-repeat;
	height: 7px;
}

#Contents div.BottomRight
{
	padding: 0 6px 0 0;
	background: top right url( images/frame-bottom-right.png ) no-repeat;
	height: 7px;
}

#Contents div.Chapter
{
	overflow: hidden;
	color: #444;
}

div.Static h1
{
	margin: 32px 0 0 0;
	font-size: 48px;
	text-align: center;
	color: #505050;
}

div.Dynamic h1
{
	margin: 0;
	color: #000;
	font-size: 12px;
	text-align: center;
	background: center 0 url( images/icons-map.png ) no-repeat;
	padding: 50px 0 0 0;
}

#PieDockChapter h1
{
	background-position: center 0;
}

#WebPieChapter h1
{
	background-position: center -96px;
}

#ZoomGridChapter h1
{
	background-position: center -192px;
}

#CpprcChapter h1
{
	background-position: center -288px;
}

#ReadmailChapter h1
{
	background-position: center -384px;
}

#AboutChapter h1
{
	background-position: center -480px;
}

#SimsalabashChapter h1
{
	background-position: center -576px;
}

#Contents div.Chapter div.ChapterContent
{
	margin: 0;
	padding: 12px;
}

#Contents div.Chapter div.ChapterContent h2
{
	margin: 48px 0 8px 0;
	padding: 0;
	color: #d0d0d0;
	font: bold 22px Arial,sans-serif;
}

#Contents div.Chapter div.ChapterContent h3
{
	margin: 24px 0 12px 0;
	padding: 0;
	font: bold 12px Arial,sans-serif;
}

#Contents div.Chapter div.ChapterContent p
{
	margin: 12px 0 12px 0;
	line-height: 160%;
}

#Contents div.Chapter div.ChapterContent ol
{
	margin: 0 0 6px 0;
	font: italic 1em Georgia,Times,serif;
	color: #399ed7;
}

#Contents div.Chapter div.ChapterContent ol li
{
	margin: 0;
	padding: 0;
}

#Contents div.Chapter div.ChapterContent ol li p,
	#Contents div.Chapter div.ChapterContent ul li p
{
	margin: 6px 0;
	padding: 0;
	font: normal 16px Arial,sans-serif;
	color: #444;
	line-height: 160%;
}

#Contents div.Chapter div.ChapterContent ol li em
{
	padding: 0 2px;
	background-color: #399ed7;
	color: #fff;
	border: 2px solid #399ed7;
	font-style: normal;
	font-weight: bold;
}

#Contents div.Chapter div.ChapterContent ul
{
	list-style: none;
	margin: 0 0 6px 6px;
	padding: 0;
}

#Contents div.Chapter div.ChapterContent ul li
{
	background: 0 4px url( images/bullet.png ) no-repeat;
	margin: 0;
	padding: 0 0 0 22px;
}

#Contents div.Chapter div.ChapterContent img.Photo
{
	float: right;
}

#Contents div.Chapter div.ChapterContent dl dt
{
	clear: left;
	float: left;
	width: 80px;
}

#Contents div.Chapter div.ChapterContent dl dd
{
	padding: 0 0 2px 0;
}

#Contents div.Chapter div.ChapterContent pre
{
	padding: 6px;
	background: #f0f0f0;
	color: #333;
	font: normal 13px monospace;
	/* FF flickers heavily with "auto"; may even result in corrupt renders */
	overflow: hidden;
}

/**
 * Restore button
 */
a.ZoomGridRestoreButton
{
	display: block;
	margin-top: -20px;
	margin-left: -8px;
	background: 0 0 url( images/button-restore.png ) no-repeat;
	padding: 57px 0 0 45px;
	font-size: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}
