<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<meta name="google-site-verification" content="WJC1Cu2kpJtIAba-K0KwJM776da6-58Y0B4qYnQ9FyE"/>
<title>`title`</title>
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-114x114-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-72x72-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"/>
<link rel="author" href="humans.txt"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div id="Article">
<article>`content`</article>
</div>
<div id="Nav">
<nav>`nav`</nav>
</div>
</body>
</html>
