<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="description" content="Free and open source $(title) by Markus Fisch"/>
<meta name="viewport" content="width=device-width"/>
<meta name="theme-color" content="#5655bb"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="msapplication-navbutton-color" content="#5655bb"/>
<meta name="google-site-verification" content="WJC1Cu2kpJtIAba-K0KwJM776da6-58Y0B4qYnQ9FyE"/>
<title>$(title) • Markus Fisch</title>
<link rel="shortcut icon" href="icons/icon-128.png"/>
<link rel="apple-touch-icon" href="icons/icon-128.png"/>
<link rel="manifest" href="manifest.json"/>
<link rel="author" href="humans.txt"/>
<link rel="stylesheet" type="text/css" href="css/screen.css"/>
</head>
<body>
<nav>$(nav)</nav>
<div id="Main" role="main">$(content)</div>
</body>
</html>
