<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="google-site-verification" content="WJC1Cu2kpJtIAba-K0KwJM776da6-58Y0B4qYnQ9FyE"/>
<title>`title`</title>
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-114x114-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-72x72-precomposed.png"/>
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"/>
<link rel="author" href="humans.txt"/>
<link rel="stylesheet" type="text/css" href="css/ar.css"/>
<script type="text/javascript" src="js/ar.js"></script>
</head>
<body>
<div id="MarkusFisch" class="Static">
<article><div id="Contents">
`content`
</div></article>
<nav><div id="Index">
`nav`
</div></nav>
</div>
</body>
</html>
