RewriteEngine On
RewriteRule ^([a-zA-Z0-9*,]+)$ $1.html
RewriteRule ^(apple-touch-icon[a-z0-9.-]+)$ icons/$1
RewriteRule ^favicon.ico$ icons/favicon.ico
RewriteCond %{HTTP:Accept-Encoding} .*gzip.*
RewriteRule ^(.*)\.html$ $1.html.gz
RewriteRule ^(.*)\.js$ $1.js.gz
RewriteRule ^(.*)\.css$ $1.css.gz
AddEncoding x-gzip text.gz

DirectoryIndex PieDock.html
Options -Indexes

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css "access plus 1 week"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
</IfModule>

ErrorDocument 404 http://markusfisch.de/
ErrorDocument 401 http://markusfisch.de/
ErrorDocument 403 http://markusfisch.de/
ErrorDocument 404 http://markusfisch.de/
ErrorDocument 500 http://markusfisch.de/
